@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

// Variables
$shadow: 9px 0px 17px -4px rgba(0, 0, 0, 0.37);
$shadow-2: 5px 0px 5px 0px rgba(0, 0, 0, 0.05);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 872px) {
  .sidebar{
    background: blue;
    flex-direction: row;
    height: auto;
  }
}


body {
  color: #223241e1;
  font-family: 'Work Sans', sans-serif;
}

.row {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 20px 0;
  flex: 30%;
  background: #ffffff;
}
.content {
  flex: 70%;
  text-align: center;
  padding: 50px 100px;
  background: #f8f9fb;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.balance {
  padding: 35px 0;
  .balance-header:hover {
    text-decoration: underline;
  }
}

.inc-exp-container {
  .income-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cce3ff;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: $shadow-2;
  }
  .expense-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff1d5;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    box-shadow: $shadow-2;
  }
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #10c06e;
}

.money.minus {
  color: #ff5e57;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #575fcf;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 25px 0;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: $shadow-2;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  text-align: left;

  .transaction-date {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
  }
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: $shadow-2;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #0be881;
}

.list li.minus {
  border-right: 5px solid #ff5e57;
}

.delete-btn {
  cursor: pointer;
  border: 0;
  color: #ff5e57;
  font-size: 25px;
  line-height: 20px;
  padding: 12px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

